<div class="sidebar sidebar-style-2">
	<div class="sidebar-wrapper scrollbar scrollbar-inner">
		<div class="sidebar-content">
			<div class="user">
				<div class="avatar-sm float-left mr-2">
					<img src="https://via.placeholder.com/60x60" alt="..." class="avatar-img rounded-circle">
				</div>
				<div class="info">
					<a data-toggle="collapse" href="#userCollapse" aria-expanded="true">
						<span>
							<span class="user-level"><%=user.firstName + ' ' + user.lastName%></span>
							<span class="user-level">Administrator</span>
							<span class="caret"></span>
						</span>
					</a>
					<div class="clearfix"></div>
					<div class="collapse in" id="userCollapse">
						<ul class="nav">
							<li>
								<a href="#profile">
									<span class="link-collapse">My Profile</span>
								</a>
							</li>
							<li>
								<a href="#edit">
									<span class="link-collapse">Edit Profile</span>
								</a>
							</li>
							<li>
								<a href="#settings">
									<span class="link-collapse">Settings</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<ul class="nav nav-primary">
				<li class="nav-item <% if (page.includes('/dashboard')) { %> active <% } %>">
					<a href="/dashboard">
						<i class="fa fa-home"></i>
						<p>Dashboard </p>
					</a>
				</li>
				<li class="nav-section">
					<span class="sidebar-mini-icon">
						<i class="fa fa-ellipsis-h"></i>
					</span>
					<h4 class="text-section">Admin</h4>
				</li>
				<%if (user.role.includes("Admin")) {%>
				<li class="nav-item <% if (page.includes('/users/')) { %> active <% } %>">
					<a href="/admin/users/list">
						<i class="fa fa-users"></i>
						<p>Users </p>
					</a>
				</li>
				<li class="nav-item <% if (page.includes('/customers/')) { %> active <% } %>">
					<a href="/admin/customers/list">
						<i class="fa fa-user-tie"></i>
						<p>Customers</p>
					</a>
				</li>
				<li class="nav-item <% if (page.includes('/locations/')) { %> active <% } %>">
					<a href="/admin/locations/list">
						<i class="fa fa-map-marker-alt"></i>
						<p>Locations </p>
					</a>
				</li>
				<%}%>

				<li class="nav-section">
					<span class="sidebar-mini-icon">
						<i class="fa fa-ellipsis-h"></i>
					</span>
					<h4 class="text-section">Warehouse</h4>
				</li>
				<%if (user.role.includes('Admin') || user.role.includes("Warehouse Fl")) {%>
				<li class='nav-item'>
					<div id="current-printer" style='color:gray'></div>
					<select id='workstations' class='form-control workstations'>
						<option value="">Select Your Printer</option>
					</select>

					<button id='set-printer' class='btn btn-info btn-sm mt-1 pull-right mb-1'>SET</button>
				</li>
				<li class="nav-item">
					<a data-toggle="collapse" href="#warehouse">
						<i class="fas fa-warehouse"></i>
						<p>Warehouse FLL</p>
						<span class="caret"></span>
					</a>
					<div class="collapse" id="warehouse">
						<ul class="nav nav-collapse">

							<!-- <li>
										<a href="/warehouse/incoming-shiptment">
											<span class="sub-item">Incoming Shipment</span>
										</a>
									</li> -->
							<li>
								<a href="/warehouse/fll-new-package">
									<span class="sub-item">Carrier Packages </span>
								</a>
							</li>
							<li>
								<a href="/warehouse/fll-no-docs">
									<span class="sub-item">No Docs</span>
								</a>
							</li>
							<li>
								<a href="/warehouse/packages-on-hand">
									<span class="sub-item">Packages on Hands</span>
								</a>
							</li>
							<li>
								<a href="/warehouse/list-manifest">
									<span class="sub-item">Load Flight</span>
								</a>
							</li>
							<!-- <li>
								<a href="/warehouse/list-manifest">
									<span class="sub-item">Reports</span>
								</a>
							</li> -->
							<!-- <li>
								<a href="/warehouse/processing">
									<span class="sub-item">Bahamas Processing</span>
								</a>
							</li> -->
							<!-- <li>
								<a href="/warehouse/store-check-in">
									<span class="sub-item">Store Check-in</span>
								</a>
							</li> -->
						</ul>
					</div>
				</li>
				<%}%>
				<%if (user.role.includes("Admin") || user.role.includes("Warehouse NAS")) {%>
				<li class="nav-item">
					<a data-toggle="collapse" href="#wnas">
						<i class="fas fa-warehouse"></i>
						<p>Warehouse NAS</p>
						<span class="caret"></span>
					</a>
					<div class="collapse" id="wnas">
						<ul class="nav nav-collapse">
							<li>
								<a href="/warehouse/nas-no-docs">
									<span class="sub-item">No Docs</span>
								</a>
							</li>
							<li>
								<a href="/warehouse/incoming-flights">
									<span class="sub-item">Incoming Flights</span>
								</a>
							</li>
							<li>
								<a href="/warehouse/nas-packages-wh">
									<span class="sub-item">Packages on Hand</span>
								</a>
							</li>
							<!-- <li>
								<a href="#">
									<span class="sub-item">Checkout</span>
								</a>
							</li> -->
							<!-- <li>
								<a href="/warehouse/store-check-in">
									<span class="sub-item">Check In Package</span>
								</a>
							</li> -->
							<li>
								<a href="/warehouse/deliveries">
									<span class="sub-item">Deliveries</span>
								</a>
							</li>
							<li class="nav-item">
								<a data-toggle="collapse" href="#fleetnas">
									<i class="fas fa-truck"></i>
									<p>Fleet Management</p>
									<span class="caret"></span>
								</a>
							</li>
						</ul>
					</div>
				</li>
				<%}%>
				<%if (user.role.includes("Admin") || user.role.includes("Warehouse NAS") || user.role.includes("Warehouse Fl")) {%>
				<li class="nav-item <% if (page.includes('/fleet/')) { %> active <% } %>">
					<a data-toggle="collapse" href="#fleet">
						<i class="fas fa-truck"></i>
						<p>Fleet Management</p>
						<span class="caret"></span>
					</a>
					<div class="collapse <% if (page.includes('/fleet/')) { %> active <% } %>" id="fleet">
						<ul class="nav nav-collapse">
							<li <% if (page.includes('/fleet/vehicle/')) { %> class="active" <% } %>>
								<a href="/fleet/vehicle/list">
									<span class="sub-item">Vehicles</span>
								</a>
							</li>
							<li <% if (page.includes('/fleet/plane/')) { %> class="active" <% } %>>
								<a href="/fleet/plane/list">
									<span class="sub-item">Planes</span>
								</a>
							</li>
							<li <% if (page.includes('/fleet/pilot/')) { %> class="active" <% } %>>
								<a href="/fleet/pilot/list">
									<span class="sub-item">Pilots</span>
								</a>
							</li>
							<li <% if (page.includes('/fleet/driver/')) { %> class="active" <% } %>>
								<a href="/fleet/driver/list">
									<span class="sub-item">Drivers</span>
								</a>
							</li>
						</ul>
					</div>
				</li>
				<%}%>
				<%if (user.role.includes("Admin") || user.role.includes("Store")) {%>
				<li class="nav-item">
					<a data-toggle="collapse" href="#stores">
						<i class="fas fa-store"></i>
						<p>Stores</p>
						<span class="caret"></span>
					</a>
					<div class="collapse" id="stores">
						<ul class="nav nav-collapse">
							<li>
								<a href="/warehouse/store-packages">
									<span class="sub-item">Package On Hand</span>
								</a>
							</li>
							<!-- <li>
					<a href="#">
						<span class="sub-item">Checkout</span>
					</a>
				</li> -->
							<li>
								<a href="/warehouse/store-check-in">
									<span class="sub-item">Check In Package</span>
								</a>
							</li>

							<!-- <li>
					<a href="/users/add-locations">
						<span class="sub-item">Add</span>
					</a>
				</li> -->
						</ul>
					</div>
				</li>
				<%}%>

				<li class="nav-section">
					<span class="sidebar-mini-icon">
						<i class="fa fa-ellipsis-h"></i>
					</span>
					<h4 class="text-section">Account Options</h4>
				</li>
				<li class="nav-item <% if (page.includes('/account/')) { %> active <% } %>">
				<a data-toggle="collapse" href="#myaccount">
					<i class="fas fa-user"></i>
					<p>My Account</p>
					<span class="caret"></span>
				</a>
				<div class="collapse <% if (page.includes('/account/')) { %> show <% } %>" id="myaccount">
					<ul class="nav nav-collapse">
						<li <% if (page.includes('/account/change-pass')) { %> class="active" <% } %>>
							<a href="/account/change-pass">
								<span class="sub-item">Change Password</span>
							</a>
						</li>
					</ul>
				</div>
				</li>
				<li class="nav-item">
					<a href="/logout">
						<i class="fa fa-sign-out-alt"></i>
						<p>Logout </p>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>