<div class="sidebar sidebar-style-2">
	<div class="sidebar-wrapper scrollbar scrollbar-inner">
		<div class="sidebar-content">
			<div class="user">
				<div class="avatar-sm float-left mr-2">
				</div>
				<div class="info">
					<a data-toggle="collapse" href="#userCollapse" aria-expanded="true">
						<span>
							<span class="user-level"><%=user.firstName + ' ' + user.lastName%></span>
							<span class="user-level">
								<% if (user.roles[0].type != "Customers") { %>
								Administrator
								<% } %>
								<% if (user.roles[0].type == "Customers") { %>
								Customer
								<% } %>
							</span>
						</span>
					</a>
					<div class="clearfix"></div>

				</div>
			</div>
			<ul class="nav nav-primary">
				<% if (user.roles[0].type != "Customers") { %>

				<li class="nav-item <% if (page.includes('/dashboard')) { %> active <% } %>">
					<a href="/dashboard">
						<i class="fa fa-home"></i>
						<p>Dashboard </p>
					</a>
				</li>
				<li class="nav-item <% if (page.includes('/report/')) { %> active <% } %>">
					<a href="/report">
						<i class="fa fa-file"></i>
						<p>Reports </p>
					</a>
				</li>
				<% } %>
				<% if (user.roles[0].type == "Customers") { %>
				<li class="nav-item <% if (page.includes('/dashboard')) { %> active <% } %>">
					<a href="/customer/dashboard">
						<i class="fa fa-home"></i>
						<p>Home </p>
					</a>
				</li>
				<% } %>

				<% if (helpers.checkRole(user.roles, "Admin")) { %>
				<li class="nav-section">
					<span class="sidebar-mini-icon">
						<i class="fa fa-ellipsis-h"></i>
					</span>
					<h4 class="text-section">Admin</h4>
				</li>
				<li class="nav-item <% if (page.includes('/users/')) { %> active <% } %>">
					<a href="/admin/users/list">
						<i class="fa fa-users"></i>
						<p>Users </p>
					</a>
				</li>
				<li class="nav-item <% if (page.includes('/customers/')) { %> active <% } %>">
					<a href="/admin/customers/list">
						<i class="fa fa-user-tie"></i>
						<p>Consignee</p>
					</a>
				</li>
				<li class="nav-item <% if (page.includes('/customerchild/')) { %> active <% } %>">
					<a href="/admin/customerchild/list">
						<i class="fa fa-user-tie"></i>
						<p>Sub Customers</p>
					</a>
				</li>
				<li class="nav-item <% if (page.includes('/locations/')) { %> active <% } %>">
					<a href="/admin/locations/list">
						<i class="fa fa-map-marker-alt"></i>
						<p>Locations </p>
					</a>
				</li>
				<li class="nav-item <% if (page.includes('/zones/')) { %> active <% } %>">
					<a href="/admin/zones/list">
						<i class="fa fa-archive"></i>
						<p>Zones </p>
					</a>
				</li>
				<li class="nav-item <% if (page.includes('/invoices/')) { %> active <% } %>">
					<a href="/admin/invoices/list">
						<i class="fa fa-shield-alt"></i>
						<p>Invoices </p>
					</a>
				</li>
				<% } %>

				<li class="nav-section">
					<span class="sidebar-mini-icon">
						<i class="fa fa-ellipsis-h"></i>
					</span>
					<h4 class="text-section">Warehouse</h4>

				</li>
				<%if (helpers.checkRole(user.roles, "Admin") || helpers.checkRole(user.roles, "Warehouse Fl")) {%>
				<li class="nav-item <% if (page.includes('/fll/')) { %> active <% } %>">
					<a data-toggle="collapse" href="#warehouse-fll">
						<i class="fas fa-building"></i>
						<p>Warehouse FLL</p>
						<span class="caret"></span>
					</a>
					<div class="collapse <% if (page.includes('/fll/')) { %> show <% } %>" id="warehouse-fll">
						<ul class="nav nav-collapse">
							<!-- <li>
										<a href="/warehouse/incoming-shiptment">
											<span class="sub-item">Incoming Shipment</span>
										</a>
									</li> -->
							<li <% if (page.includes('/fll/awb/create')) { %> class="active" <% } %>>
								<a href="/warehouse/fll/awb/create">
									<span class="sub-item">Create AirWay Bill</span>
								</a>
							</li>
							<li <% if (page.includes('/fll/awb/no-docs')) { %> class="active" <% } %>>
								<a href="/warehouse/fll/awb/no-docs">
									<span class="sub-item">No Docs</span>
								</a>
							</li>
							<li <% if (page.includes('/fll/awb/list')) { %> class="active" <% } %>>
								<a href="/warehouse/fll/awb/list">
									<span class="sub-item">AirWay Bills</span>
								</a>
							</li>
							<li <% if (page.includes('/fll/package/list')) { %> class="active" <% } %>>
								<a href="/warehouse/fll/package/list">
									<span class="sub-item">Packages on Hands</span>
								</a>
							</li>
							<li <% if (page.includes('/fll/manifest/list')) { %> class="active" <% } %>>
								<a href="/warehouse/fll/manifest/list">
									<span class="sub-item">Manifests</span>
								</a>
							</li>
						</ul>
					</div>
				</li>
				<% } %>
				<% if (helpers.checkRole(user.roles, "Admin") || helpers.checkRole(user.roles, "Warehouse NAS")) { %>
				<li class="nav-item <% if (page.includes('/nas/')) { %> active <% } %>">
					<a data-toggle="collapse" href="#warehouse-nas">
						<i class="fas fa-warehouse"></i>
						<p>Warehouse NAS</p>
						<span class="caret"></span>
					</a>
					<div class="collapse <% if (page.includes('/nas/')) { %> show <% } %>" id="warehouse-nas">
						<ul class="nav nav-collapse">
							<li <% if (page.includes('/nas/awb/no-docs')) { %> class="active" <% } %>>
								<a href="/warehouse/nas/awb/no-docs">
									<span class="sub-item">No Docs</span>
								</a>
							</li>
							<li <% if (page.includes('/fll/awb/no-docs-packages')) { %> class="active" <% } %>>
								<a href="/warehouse/fll/awb/no-docs-packages">
									<span class="sub-item">No Docs - Pkgs</span>
								</a>
							</li>
							<li <% if (page.includes('/nas/manifest/incoming')) { %> class="active" <% } %>>
								<a href="/warehouse/nas/manifest/incoming">
									<span class="sub-item">Incoming Flights</span>
								</a>
							</li>
							<li <% if (page.includes('/nas/package/list')) { %> class="active" <% } %>>
								<a href="/warehouse/nas/package/list">
									<span class="sub-item">Packages on Hand</span>
								</a>
							</li>
							<li <% if (page.includes('/nas/package/aging')) { %> class="active" <% } %>>
								<a href="/warehouse/nas/package/aging">
									<span class="sub-item">Aging</span>
								</a>
							</li>
							<li <% if (page && page.endsWith && page.endsWith('/package/list/in-manifest')) { %> class="active" <% } %>>
								<a href="/warehouse/package/list/in-manifest">
									<span class="sub-item">Packages</span>
								</a>
							</li>
							<li <% if (page.includes('/package/list/deliver')) { %> class="active" <% } %>>
								<a href="/warehouse/package/list/deliver">
									<span class="sub-item">All Packages</span>
								</a>
							</li>
							<li <% if (page.includes('/package/list/in-pmb9000')) { %> class="active" <% } %>>
								<a href="/warehouse/package/list/in-pmb9000">
									<span class="sub-item">9to5 Warehouse Packages</span>
								</a>
							</li>
							<li <% if (page.includes('/package/list/not-pmb9000')) { %> class="active" <% } %>>
								<a href="/warehouse/package/list/not-pmb9000">
									<span class="sub-item">Post Boxes Etc</span>
								</a>
							</li>
							<li <% if (page && page.endsWith && page.endsWith('/package/list/in-manifest-no-docs')) { %> class="active" <% } %>>
								<a href="/warehouse/package/list/in-manifest-no-docs">
									<span class="sub-item">Packages in Manifest (no docs)</span>
								</a>
							</li>
							<li <% if (page.includes('/nas/delivery/list')) { %> class="active" <% } %>>
								<a href="/warehouse/nas/delivery/list">
									<span class="sub-item">Deliveries</span>
								</a>
							</li>
							<li <% if (page.includes('/fll/manifest/list')) { %> class="active" <% } %>>
								<a href="/warehouse/fll/manifest/list">
									<span class="sub-item">Manifests</span>
								</a>
							</li>
						</ul>
					</div>
				</li>
				<% } %>
				<!-- Store -->
				<% if (helpers.checkRole(user.roles, "Admin") || helpers.checkRole(user.roles, "Store")) { %>
				<li class="nav-item">
					<a data-toggle="collapse" href="#stores">
						<i class="fas fa-store"></i>
						<p>Stores</p>
						<span class="caret"></span>
					</a>
					<div class="collapse" id="stores">
						<ul class="nav nav-collapse">
							<!-- <li>
								<a href="/store/store-packages">
									<span class="sub-item">Package On Hand</span>
								</a>
							</li> -->
							<li>
								<a href="/store/store-check-in">
									<span class="sub-item">Package On Hand</span>
								</a>
							</li>
						</ul>
					</div>
				</li>
				<% } %>
				<!-- Fleet -->
				<% if (helpers.checkRole(user.roles, "Admin") || helpers.checkRole(user.roles, "Warehouse")) { %>
				<li class="nav-item <% if (page.includes('/fleet/')) { %> active <% } %>">
					<a data-toggle="collapse" href="#fleet">
						<i class="fas fa-truck"></i>
						<p>Fleet Management</p>
						<span class="caret"></span>
					</a>
					<div class="collapse <% if (page.includes('/fleet/')) { %> show <% } %>" id="fleet">
						<ul class="nav nav-collapse">
							<li <% if (page.includes('/fleet/driver/')) { %> class="active" <% } %>>
								<a href="/fleet/driver/list">
									<span class="sub-item">Drivers</span>
								</a>
							</li>
							<li <% if (page.includes('/fleet/vehicle/')) { %> class="active" <% } %>>
								<a href="/fleet/vehicle/list">
									<span class="sub-item">Vehicles</span>
								</a>
							</li>
							<li <% if (page.includes('/fleet/pilot/')) { %> class="active" <% } %>>
								<a href="/fleet/pilot/list">
									<span class="sub-item">Pilots</span>
								</a>
							</li>
							<li <% if (page.includes('/fleet/plane/')) { %> class="active" <% } %>>
								<a href="/fleet/plane/list">
									<span class="sub-item">Planes</span>
								</a>
							</li>
							<li <% if (page.includes('/fleet/airport/')) { %> class="active" <% } %>>
								<a href="/fleet/airport/list">
									<span class="sub-item">Airports</span>
								</a>
							</li>
						</ul>
					</div>
				</li>
				<li class="nav-item <% if (page.includes('/price/')) { %> active <% } %>">
					<a href="/warehouse/price/list">
						<i class="fa fa-dollar-sign"></i>
						<p>Price </p>
					</a>
				</li><li class="nav-item <% if (page.includes('/shipper/')) { %> active <% } %>">
					<a href="/warehouse/shipper/list">
						<i class="fa fa-shipping-fast"></i>
						<p>Shippers </p>
					</a>
				</li>
				<li class="nav-item <% if (page.includes('/packages/')) { %> active <% } %>">
					<a href="/warehouse/package/list">
						<i class="fa fa-cubes"></i>
						<p>Packages </p>
					</a>
				</li>
				<li class="nav-item <% if (page.includes('/airline/')) { %> active <% } %>">
					<a href="/warehouse/airline/list">
						<i class="fa fa-plane-departure"></i>
						<p>Airlines </p>
					</a>
				</li>
				<li class="nav-item <% if (page.includes('/carrier/')) { %> active <% } %>">
					<a href="/warehouse/carrier/list">
						<i class="fa fa-people-carry"></i>
						<p>Carriers </p>
					</a>
				</li>
				<li class="nav-item <% if (page.includes('/container/')) { %> active <% } %>">
					<a href="/warehouse/container/list">
						<i class="fa fa-archive"></i>
						<p>Containers </p>
					</a>
				</li>
				<li class="nav-item <% if (page.includes('/hazmat/')) { %> active <% } %>">
					<a href="/warehouse/hazmat/list">
						<i class="fa fa-exclamation-triangle"></i>
						<p>Hazmat </p>
					</a>
				</li>
				<li class="nav-item <% if (page.includes('/cube/')) { %> active <% } %>">
					<a href="/warehouse/cube/list">
						<i class="fa fa-sitemap"></i>
						<p>Cube </p>
					</a>
				</li>
				<li class="nav-item <% if (page.includes('/service-type/')) { %> active <% } %>">
					<a href="/warehouse/service-type/list">
						<i class="fa fa-wrench"></i>
						<p>Service Types </p>
					</a>
				</li>
				<li class="nav-item <% if (page.includes('/paid-type/')) { %> active <% } %>">
					<a href="/warehouse/paid-type/list">
						<i class="fa fa-credit-card"></i>
						<p>Paid Types </p>
					</a>
				</li>
				<% } %>

				<!-- Customer -->
				<% if (user.roles[0].type == "Customers") { %>
				<li class="nav-item <% if (page.includes('/customerchild/list')) { %> active <% } %>">
					<a href="/customer/customerchild/list/<%= user._id %>">
						<i class="fa fa-user-tie"></i>
						<p>Sub Customers</p>
					</a>
				</li>
				<li class="nav-item <% if (page.includes('/package/')) { %> active <% } %>">
					<a href="/warehouse/customer/package/list/<%= user._id %>">
						<i class="fa fa-cubes"></i>
						<p>Packages </p>
					</a>
				</li>
				<li class="nav-item <% if (page.includes('/no-docs/')) { %> active <% } %>">
					<a href="/customer/customerchild/no-docs/<%= user._id %>">
						<i class="fas fa-warehouse"></i>
						<p>No Docs</p>
					</a>
				</li>
				<% } %>

				<!-- Account Options -->
				<li class="nav-section">
					<span class="sidebar-mini-icon">
						<i class="fa fa-ellipsis-h"></i>
					</span>
					<h4 class="text-section">Account Options</h4>
				</li>
				<li class="nav-item <% if (page.includes('/account/')) { %> active <% } %>">
					<a data-toggle="collapse" href="#myaccount">
						<i class="fas fa-user"></i>
						<p>My Account</p>
						<span class="caret"></span>
					</a>
					<div class="collapse <% if (page.includes('/account/')) { %> show <% } %>" id="myaccount">
						<ul class="nav nav-collapse">
							<li <% if (page.includes('/account/change-pass')) { %> class="active" <% } %>>
								<% if (user.roles[0].type != "Customers") { %>
								<a href="/account/change-pass">
									<span class="sub-item">Change Password</span>
								</a>
								<% } %>
								<% if (user.roles[0].type == "Customers") { %>
								<a href="/customer/change-pass">
									<span class="sub-item">Change Password</span>
								</a>
								<% } %>
							</li>
							<!-- Temporary hide the print section -->
							<!-- <li <% if (page.includes('/account/change-printer')) { %> class="active" <% } %>>
								<a href="/account/change-printer">
									<span class="sub-item">Printer</span>
								</a>
							</li> -->
						</ul>
					</div>
				</li>
				<li class="nav-item">
					<a id="logout" href="/logout<% if (user.roles[0].type == "Customers") { %>?type=customer<%}%>">
						<i class="fa fa-sign-out-alt"></i>
						<p>Logout </p>
					</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<script>
	document.getElementById("logout").addEventListener('click', function () {
		localStorage.clear()
	})
</script>