<!-- Sidebar -->
<div class="sidebar sidebar-style-2">
	<div class="sidebar-wrapper scrollbar scrollbar-inner">
		<div class="sidebar-content">
			<div class="user">
				<div class="avatar-sm float-left mr-2">

				</div>
				<div class="info">
					<a data-toggle="collapse" href="#collapseExample" aria-expanded="true">
						<span>
							<%=luser%>
							<span class="user-level">Administrator</span>
							<span class="caret"></span>
						</span>
					</a>
					<div class="clearfix"></div>

					<div class="collapse in" id="collapseExample">
						<ul class="nav">
							<li>
								<a href="#profile">
									<span class="link-collapse">My Profile</span>
								</a>
							</li>
							<li>
								<a href="#edit">
									<span class="link-collapse">Edit Profile</span>
								</a>
							</li>
							<li>
								<a href="#settings">
									<span class="link-collapse">Settings</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<ul class="nav nav-primary">
				<li class="nav-item">
					<a data-toggle="collapse" href="#admin" class="collapsed" aria-expanded="false">
						<i class="fas fa-home"></i>
						<p>Admin</p>
						<span class="caret"></span>
					</a>
					<div class="collapse" id="admin">
						<ul class="nav nav-collapse">
							<li>
								<a href="/admin/">
									<span class="sub-item">Admin Dashboard</span>
								</a>
							</li>
							<li>
								<a href="/admin/users">
									<span class="sub-item">Users</span>
								</a>
							</li>
							<li>
								<a href="/admin/customersV1">
									<span class="sub-item">Customers</span>
								</a>
							</li>
							<li>
								<a href="/admin/locations">
									<span class="sub-item">Locations</span>
								</a>
							</li>
						</ul>
					</div>
				</li>
				<li class="nav-item">
					<a data-toggle="collapse" href="#warehouse">
						<i class="fas fa-warehouse"></i>
						<p>Warehouse FLL</p>
						<span class="caret"></span>
					</a>
					<div class="collapse" id="warehouse">
						<ul class="nav nav-collapse">
							
								<!-- <li>
										<a href="/warehouse/incoming-shiptment">
											<span class="sub-item">Incoming Shipment</span>
										</a>
									</li> -->
								<li>
										<a href="/warehouse/fll-new-package">
											<span class="sub-item">Carrier Packages </span>
										</a>
									</li>
									<li>
										<a href="/warehouse/fll-no-docs">
											<span class="sub-item">No Docs</span>
										</a>
									</li>
									<li>
									<a href="/warehouse/packages-on-hand">
										<span class="sub-item">Packages on Hands</span>
									</a>
								</li>
							<li>
								<a href="/warehouse/list-manifest">
									<span class="sub-item">Load Flight</span>
								</a>
							</li>
							<!-- <li>
								<a href="/warehouse/list-manifest">
									<span class="sub-item">Reports</span>
								</a>
							</li> -->
							<li class="nav-item">
								<a data-toggle="collapse" href="#fleet">
									<i class="fas fa-truck"></i>
									<p>Fleet Management</p>
									<span class="caret"></span>
								</a>
								<div class="collapse" id="fleet">
									<ul class="nav nav-collapse">
										<li>
											<a href="/fleet/vehicles">
												<span class="sub-item">Vehicles</span>
											</a>
										</li>
										<li>
											<a href="/fleet/flights">
												<span class="sub-item">Planes</span>
											</a>
										</li>
										<li>
											<a href="/fleet/drivers">
												<span class="sub-item">Drivers</span>
											</a>
										</li>
										
									</ul>
								</div>
							</li>
							<!-- <li>
								<a href="/warehouse/processing">
									<span class="sub-item">Bahamas Processing</span>
								</a>
							</li> -->
							<!-- <li>
								<a href="/warehouse/store-check-in">
									<span class="sub-item">Store Check-in</span>
								</a>
							</li> -->
						</ul>
					</div>
				</li>
				<li class="nav-item">
					<a data-toggle="collapse" href="#wnas">
						<i class="fas fa-warehouse"></i>
						<p>Warehouse NAS</p>
						<span class="caret"></span>
					</a>
					<div class="collapse" id="wnas">
						<ul class="nav nav-collapse">
								<li>
										<a href="/warehouse/nas-no-docs">
											<span class="sub-item">No Docs</span>
										</a>
									</li>
							<li>
								<a href="/warehouse/rec-package-nas">
									<span class="sub-item">Recieve Package</span>
								</a>
							</li>
							<li>
									<a href="/warehouse/nas-packages-wh">
										<span class="sub-item">Packages on Hand</span>
									</a>
								</li>
							<!-- <li>
								<a href="#">
									<span class="sub-item">Checkout</span>
								</a>
							</li> -->
							<!-- <li>
								<a href="/warehouse/store-check-in">
									<span class="sub-item">Check In Package</span>
								</a>
							</li> -->

							<li>
								<a href="/warehouse/deliveries">
									<span class="sub-item">Delivery</span>
								</a>
							</li>
							<li class="nav-item">
								<a data-toggle="collapse" href="#fleetnas">
									<i class="fas fa-truck"></i>
									<p>Fleet Management</p>
									<span class="caret"></span>
								</a>
								<div class="collapse" id="fleetnas">
									<ul class="nav nav-collapse">
										<li>
											<a href="/fleet/vehicles">
												<span class="sub-item">Vehicles</span>
											</a>
										</li>
										<li>
											<a href="/fleet/drivers">
												<span class="sub-item">Drivers</span>
											</a>
										</li>
										
									</ul>
								</div>
							</li>
						</ul>
					</div>
				</li>
				<li class="nav-item">
					<a data-toggle="collapse" href="#stores">
						<i class="fas fa-store"></i>
						<p>Stores</p>
						<span class="caret"></span>
					</a>
					<div class="collapse" id="stores">
						<ul class="nav nav-collapse">
							<li>
								<a href="/warehouse/store-packages">
									<span class="sub-item">Package On Hand</span>
								</a>
							</li>
							<!-- <li>
								<a href="#">
									<span class="sub-item">Checkout</span>
								</a>
							</li> -->
							<li>
								<a href="/warehouse/store-check-in">
									<span class="sub-item">Check In Package</span>
								</a>
							</li>
						
							<!-- <li>
								<a href="/users/add-locations">
									<span class="sub-item">Add</span>
								</a>
							</li> -->
						</ul>
					</div>
				</li>
				<!-- <li class="nav-item">
					<a data-toggle="collapse" href="#customers">
						<i class="fas fa-users"></i>
						<p>Customers</p>
						<span class="caret"></span>
					</a>
					<div class="collapse" id="customers">
						<ul class="nav nav-collapse">
							<li>
								<a href="/users/change-pass">
									<span class="sub-item">Create</span>
								</a>
							</li>
							<li>
								<a href="/logout">
									<span class="sub-item">Incoming Packages</span>
								</a>
							</li>
						</ul>
					</div>
				</li> -->
		
				<!-- <li class="nav-item">
					<a href="#">
						<i class="fa fa-file-alt"></i>
						<p>Reports</p>
					</a>
				</li> -->
				<li class="nav-section">
					<span class="sidebar-mini-icon">
						<i class="fa fa-ellipsis-h"></i>
					</span>
					<h4 class="text-section">Account Options</h4>
				</li>
				<li class="nav-item">
					<a data-toggle="collapse" href="#myaccount">
						<i class="fas fa-user"></i>
						<p>My Account</p>
						<span class="caret"></span>
					</a>
					<div class="collapse" id="myaccount">
						<ul class="nav nav-collapse">
							<li>
								<a href="/users/change-pass">
									<span class="sub-item">Change Password</span>
								</a>
							</li>
							<li>
								<a href="/logout">
									<span class="sub-item">Logout</span>
								</a>
							</li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
<!-- End Sidebar -->