<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
	<meta name="description" content="Unify Admin Panel" />
	<meta name="keywords"
		content="Admin, Dashboard, Bootstrap4, Sass, CSS3, HTML5, Responsive Dashboard, Responsive Admin Template, Admin Template, Best Admin Template, Bootstrap Template, Themeforest" />
	<meta name="author" content="Bootstrap Gallery" />
	<link rel="icon" href="/img/favicon.png" type="image/x-icon" />
	<title>9-5 Imports </title>

	<script src="/assets/js/plugin/webfont/webfont.min.js"></script>
	<script>
		WebFont.load({
			google: { "families": ["Lato:300,400,700,900"] },
			custom: { "families": ["Flaticon", "Font Awesome 5 Solid", "Font Awesome 5 Regular", "Font Awesome 5 Brands", "simple-line-icons"], urls: ['/assets/css/fonts.min.css'] },
			active: function () {
				sessionStorage.fonts = true;
			}
		});
	</script>
	<link rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="/assets/css/atlantis.min.css">
	<link rel="stylesheet" href="/assets/css/magnific-popup.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.min.css">
	<link rel="stylesheet" type="text/css"
		href="https://unpkg.com/file-upload-with-preview@4.0.2/dist/file-upload-with-preview.min.css">
	<link
		href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"
		rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/assets/css/daterangepicker.css" />
</head>

<body>

	<!-- Loading starts -->
	<div id="loading-wrapper">
		<div id="loader">
			<div class="line1"></div>
			<div class="line2"></div>
			<div class="line3"></div>
			<div class="line4"></div>
			<div class="line5"></div>
			<div class="line6"></div>
		</div>
	</div>
	<!-- Loading ends -->

	<!-- Global Search Modal Start -->
	<div class="modal fade" id="global-search-data-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
		aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">Search Result</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<div class="table-responsive">
						<table id="global-search-table-data" class="display table table-striped table-hover">
							<thead>
								<tr>
									<th>Id</th>
									<th><i class="fa fa-search" aria-hidden="true"></i></th>
								</tr>
							</thead>
							<tbody></tbody>
						</table>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" id="global-search-close-button" class="btn btn-primary"
						data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Global Search Modal End -->

	<div class="wrapper">
		<% include __main_header.ejs %>
		<% include __sidebar.ejs %>

		<div class="main-panel">
			<div class="content">
				<div class="panel-header bg-primary-gradient">
					<div class="page-inner py-5">
						<div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
							<div>
								<h2 class="text-white pb-2 fw-bold"><%=title %></h2>
								<h5 class="text-white op-7 mb-2">9-5 Imports</h5>
							</div>
						</div>
					</div>
				</div>
				<div class="page-inner mt--5">
					<%-body%>
				</div>
			</div>
		</div>
	</div>
	<div class="notify-notifications">
		<div id="notes" class="notify notify-notes"></div>
		<div id="messages" class="notify notify-messages"></div>
	</div>

	<script src="/js/jquery.js"></script>
	<!--   Core JS Files   -->
	<script src="/assets/js/core/jquery.3.2.1.min.js"></script>
	<script src="/assets/js/core/popper.min.js"></script>
	<script src="/assets/js/core/bootstrap.min.js"></script>

	<!-- jQuery UI -->
	<script src="/assets/js/plugin/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
	<script src="/assets/js/plugin/jquery-ui-touch-punch/jquery.ui.touch-punch.min.js"></script>

	<!-- jQuery Scrollbar -->
	<script src="/assets/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>

	<!-- Moment JS -->
	<script src="/assets/js/plugin/moment/moment.min.js"></script>

	<!-- Chart JS -->
	<script src="/assets/js/plugin/chart.js/chart.min.js"></script>

	<!-- jQuery Sparkline -->
	<script src="/assets/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>

	<!-- Chart Circle -->
	<script src="/assets/js/plugin/chart-circle/circles.min.js"></script>

	<!-- Datatables -->
	<script src="/assets/js/plugin/datatables/datatables.min.js"></script>

	<!-- Bootstrap Notify -->
	<script src="/assets/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>

	<!-- Bootstrap Toggle -->
	<script src="/assets/js/plugin/bootstrap-toggle/bootstrap-toggle.min.js"></script>

	<!-- jQuery Vector Maps -->
	<script src="/assets/js/plugin/jqvmap/jquery.vmap.min.js"></script>
	<script src="/assets/js/plugin/jqvmap/maps/jquery.vmap.world.js"></script>

	<!-- Google Maps Plugin -->
	<script src="/assets/js/plugin/gmaps/gmaps.js"></script>

	<!-- Dropzone -->
	<script src="/assets/js/plugin/dropzone/dropzone.min.js"></script>

	<!-- Fullcalendar -->
	<script src="/assets/js/plugin/fullcalendar/fullcalendar.min.js"></script>

	<!-- DateTimePicker -->
	<script src="/assets/js/plugin/datepicker/bootstrap-datetimepicker.min.js"></script>

	<!-- Date Range Picker -->
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

	<!-- Bootstrap Tagsinput -->
	<script src="/assets/js/plugin/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>

	<!-- Bootstrap Wizard -->
	<script src="/assets/js/plugin/bootstrap-wizard/bootstrapwizard.js"></script>

	<!-- jQuery Validation -->
	<script src="/assets/js/plugin/jquery.validate/jquery.validate.min.js"></script>

	<!-- Summernote -->
	<script src="/assets/js/plugin/summernote/summernote-bs4.min.js"></script>

	<!-- Select2 -->
	<script src="/assets/js/plugin/select2/select2.full.min.js"></script>

	<!-- Sweet Alert -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/7.2.0/sweetalert2.all.min.js"></script>
	<!-- <script src="/assets/js/plugin/sweetalert/sweetalert.min.js"></script> -->

	<!-- Owl Carousel -->
	<script src="/assets/js/plugin/owl-carousel/owl.carousel.min.js"></script>

	<!-- Magnific Popup -->
	<script src="/assets/js/plugin/jquery.magnific-popup/jquery.magnific-popup.min.js"></script>

	<!-- Atlantis JS -->
	<script src="/assets/js/atlantis.min.js"></script>

	<!-- File Upload Preview -->
	<script src="https://unpkg.com/file-upload-with-preview@4.0.2/dist/file-upload-with-preview.min.js"></script>

	<!-- PDF Viewwer -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.3.200/pdf.min.js"></script>

	<!-- Printer -->
	<script src="/assets/js/plugin/print/print.min.js"></script>

	<script src="/assets/js/global-search.js"></script>
	
	<!-- Dashboard js -->
	<script src="/assets/js/dashboard.js"></script>
	
	<!-- Date Range Picker -->
	<script type="text/javascript" src="/assets/js/plugin/daterangepicker/daterangepicker.js"></script>
	<%- block('scripts').toString() %>

	<script>
		if (window.location.pathname === '/dashboard') {
			$('.filter-date').datetimepicker({
				format: 'MM-DD-YYYY',
				useCurrent: false,
				showTodayButton: true,
				showClear: true,
				toolbarPlacement: 'bottom',
				sideBySide: true,
				icons: {
					date: 'fa fa-calendar',
					up: 'fa fa-arrow-up',
					down: 'fa fa-arrow-down',
					previous: 'fa fa-chevron-left',
					next: 'fa fa-chevron-right',
					today: 'fa fa-clock',
					clear: 'fa fa-trash',
				},
			});

			$.ajax({
				url: '/api/warehouse/get_packages_status',
				dataType: "json",
				type: "GET",
				success: function (data) {
					chartData(data)
				}
			})

			$('.flightdate').datetimepicker({
				format: 'MM/DD/YYYY',
			});

			function chartData(data) {
				Circles.create({
					id: 'circles-1',
					radius: 45,
					value: data.received_fill,
					maxValue: data.total_packages,
					width: 7,
					text: data.received_fill.toString(),
					colors: ['#f1f1f1', '#FF9E27'],
					duration: 400,
					wrpClass: 'circles-wrp',
					textClass: 'circles-text',
					styleWrapper: true,
					styleText: true
				})
				Circles.create({
					id: 'circles-2',
					radius: 45,
					value: data.loaded_craft,
					maxValue: data.total_packages,
					width: 7,
					text: data.loaded_craft.toString(),
					colors: ['#f1f1f1', '#2BB930'],
					duration: 400,
					wrpClass: 'circles-wrp',
					textClass: 'circles-text',
					styleWrapper: true,
					styleText: true
				})
				Circles.create({
					id: 'circles-3',
					radius: 45,
					value: data.in_transit,
					maxValue: data.total_packages,
					width: 7,
					text: data.in_transit.toString(),
					colors: ['#f1f1f1', '#F25961'],
					duration: 400,
					wrpClass: 'circles-wrp',
					textClass: 'circles-text',
					styleWrapper: true,
					styleText: true
				})
				Circles.create({
					id: 'circles-4',
					radius: 45,
					value: data.received_nas,
					maxValue: data.total_packages,
					width: 7,
					text: data.received_nas.toString(),
					colors: ['#f1f1f1', '#FF9E27'],
					duration: 400,
					wrpClass: 'circles-wrp',
					textClass: 'circles-text',
					styleWrapper: true,
					styleText: true
				})
				Circles.create({
					id: 'circles-5',
					radius: 45,
					value: data.ready_pd,
					maxValue: data.total_packages,
					width: 7,
					text: data.ready_pd.toString(),
					colors: ['#f1f1f1', '#2BB930'],
					duration: 400,
					wrpClass: 'circles-wrp',
					textClass: 'circles-text',
					styleWrapper: true,
					styleText: true
				})
				Circles.create({
					id: 'circles-6',
					radius: 45,
					value: data.delivered,
					maxValue: data.total_packages,
					width: 7,
					text: data.delivered.toString(),
					colors: ['#f1f1f1', '#F25961'],
					duration: 400,
					wrpClass: 'circles-wrp',
					textClass: 'circles-text',
					styleWrapper: true,
					styleText: true
				})
			}

			$('#lineChart').sparkline([105, 103, 123, 100, 95, 105, 115], {
				type: 'line',
				height: '70',
				width: '100%',
				lineWidth: '2',
				lineColor: '#ffa534',
				fillColor: 'rgba(255, 165, 52, .14)'
			});
			function userStatistics(data) {
				let labels = Object.keys(data);

				let received_fill = [];
				let received_nas = [];
				let loaded_craft = [];
				let ready_pd = [];
				let delivered = [];

				labels.forEach((key) => {
					received_fill.push(data[key]['received_fill']);
					received_nas.push(data[key]['received_nas']);
					loaded_craft.push(data[key]['loaded_craft']);
					ready_pd.push(data[key]['ready_pd']);
					delivered.push(data[key]['delivered']);
				});

				var ctx = document.getElementById('statisticsChart').getContext('2d');

				var statisticsChart = new Chart(ctx, {
					type: 'line',
					data: {
						labels: labels,
						datasets: [{
							label: "Received FILL",
							borderColor: '#f3545d',
							pointBackgroundColor: 'rgba(243, 84, 93, 0.6)',
							pointRadius: 0,
							backgroundColor: 'rgba(243, 84, 93, 0.4)',
							legendColor: '#f3545d',
							fill: true,
							borderWidth: 2,
							data: received_fill
						}, {
							label: "Received NAS",
							borderColor: '#fdaf4b',
							pointBackgroundColor: 'rgba(253, 175, 75, 0.6)',
							pointRadius: 0,
							backgroundColor: 'rgba(253, 175, 75, 0.4)',
							legendColor: '#fdaf4b',
							fill: true,
							borderWidth: 2,
							data: received_nas
						}, {
							label: "Ready for Pickup/Delivery",
							borderColor: '#177dff',
							pointBackgroundColor: 'rgba(23, 125, 255, 0.6)',
							pointRadius: 0,
							backgroundColor: 'rgba(23, 125, 255, 0.4)',
							legendColor: '#177dff',
							fill: true,
							borderWidth: 2,
							data: ready_pd
						}, {
							label: "Delivered",
							borderColor: '#264733',
							pointBackgroundColor: '#264733',
							pointRadius: 0,
							backgroundColor: '#26ba61',
							legendColor: '#26ba61',
							fill: true,
							borderWidth: 2,
							data: delivered
						}
						]
					},
					options: {
						responsive: true,
						maintainAspectRatio: false,
						legend: {
							display: false
						},
						tooltips: {
							bodySpacing: 4,
							mode: "nearest",
							intersect: 0,
							position: "nearest",
							xPadding: 10,
							yPadding: 10,
							caretPadding: 10
						},
						layout: {
							padding: { left: 5, right: 5, top: 15, bottom: 15 }
						},
						scales: {
							yAxes: [{
								ticks: {
									fontStyle: "500",
									beginAtZero: false,
									maxTicksLimit: 5,
									padding: 10
								},
								gridLines: {
									drawTicks: false,
									display: false
								}
							}],
							xAxes: [{
								gridLines: {
									zeroLineColor: "transparent"
								},
								ticks: {
									padding: 10,
									fontStyle: "500"
								}
							}]
						},
						legendCallback: function (chart) {
							var text = [];
							text.push('<ul class="' + chart.id + '-legend html-legend">');
							for (var i = 0; i < chart.data.datasets.length; i++) {
								text.push('<li><span style="background-color:' + chart.data.datasets[i].legendColor + '"></span>');
								if (chart.data.datasets[i].label) {
									text.push(chart.data.datasets[i].label);
								}
								text.push('</li>');
							}
							text.push('</ul>');
							return text.join('');
						}
					}
				});
				var myLegendContainer = document.getElementById("myChartLegend");
				// generate HTML legend
				myLegendContainer.innerHTML = statisticsChart.generateLegend();
				// bind onClick event to all LI-tags of the legend
				var legendItems = myLegendContainer.getElementsByTagName('li');
				for (var i = 0; i < legendItems.length; i += 1) {
					legendItems[i].addEventListener("click", legendClickCallback, false);
				}
			}
			$.ajax({
				url: '/api/warehouse/get_packages_7days_status',
				dataType: "json",
				type: "GET",
				success: function (data) {
					userStatistics(data)
				}
			})
		}

		if (window.location.pathname === '/report') {
			$('.filter-date').datetimepicker({
				format: 'MM-DD-YYYY',
				useCurrent: false,
				showTodayButton: true,
				showClear: true,
				toolbarPlacement: 'bottom',
				sideBySide: true,
				icons: {
					date: 'fa fa-calendar',
					up: 'fa fa-arrow-up',
					down: 'fa fa-arrow-down',
					previous: 'fa fa-chevron-left',
					next: 'fa fa-chevron-right',
					today: 'fa fa-clock',
					clear: 'fa fa-trash',
				},
			});
		}

	</script>
</body>

</html>