<% layout('./shared/__template')%>
<div class='gutters'>
	<div class="col-xl-12 col-lg-6 col-md-12 col-sm-12">
		<div class="card">
			<div class="card-header d-flex align-items-left align-items-md-center flex-column flex-md-row">
				<div class="card-title">Locations</div>
				<a href='/admin/add-locations' class='btn btn-primary btn-round ml-md-auto float-right'>Add Location</a>
			</div>
			<div class="card-body">
				<table class="table m-0">
					<thead>
						<tr>
							<th>Location Name</th>
							<th>Address</th>
							<th>Phone</th>
						
						
							<th></th>
						</tr>
					</thead>
					<tbody>
						<%for(i=0;i<locations.length; i++){%>
								<tr>
										<td><%=locations[i].name%></td>
										<td><%=locations[i].address%></td>
										<td><%=locations[i].phone%></td>
										
									
										<th><a href ="/admin/add-locations/<%=locations[i].id%>"><i class='fas fa-pencil-alt'></i></a></th>
									</tr>
						<%}%>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>