<% layout('./shared/__template')%>
<div class='gutters'>
  <div class="col-xl-12 col-lg-6 col-md-12 col-sm-12">
    <div class="card">
      <div class="card-header d-flex align-items-left align-items-md-center flex-column flex-md-row">
        <div class="card-title">System Users</div>
        <a href='create' class='btn btn-primary btn-round float-right ml-md-auto'>Add User</a>
      </div>
      <div class="card-body daterangepickerbody">
        <div class="table-responsive">
        <table class="display table table-striped table-hover dataTable user-table">
          <thead>
            <tr>
              <th>Role</th>
              <th>Date Created</th>
              <th>Username</th>
              <th>Name</th>
              <th>Email</th>
              <th>Mobile</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>

<% block('scripts').append('<script src="/js/utils.js"></script>')%>
<% block('scripts').append('<script src="/js/admin/user/list.js"></script>')%>