


<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container">

    <section class="">
    <!-- Footer -->
    <footer class="text-white" >
    
  
      <!-- Copyright -->
      <div class="text-right " style="color: #57597B;">
        <span style= "font-size: 18px;"><b>2021 9-5 Import</b></span>
     
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </section>
    
  </div>
  <!-- End of .container -->



