


<!-- Remove the container if you want to extend the Footer to full width. -->
<div class="container">

    <section class="">
    <!-- Footer -->
    <footer class="text-white" >
    
  
      <!-- Copyright -->
      <div class="text-right " style="color: #57597B;">
        <span style= "font-size: 18px;"><b>2021 <span id="footertext">9-5 Import</span></b></span>
     
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </section>
    
  </div>
  <script>

    	function setFooter(){
      
	if(window.location.href.includes('postboxetc.com') || window.location.href.includes('https://tracking.postboxesetc.com/') || window.location.href.includes('postbox')  ){
		
		document.getElementById('footertext').value = "Post Boxes ETC"
	  	
	}else{
		
		document.getElementById('footertext').value = "9-5 Import"


	}}
	setFooter();

  </script>
  <!-- End of .container -->



