<% layout('./shared/__template')%>
<form id="add-paid-type-form" method='POST' action='update'>
  <div class="row gutters">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title"><%=title%></h4>
        </div>
        <div id="myLoader"><img src="../../../img/preloader.gif"></div>
        <div class="card-body">
          <div class="form-group form-show-validation row">
            <label for="name" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Paid Type Name
              <span class="required-label">*</span></label>
            <div class="col-lg-4 col-md-9 col-sm-8">
              <input type="text" class="form-control" id="name" name="name" placeholder="Paid Type Name" required
                value="<%=paidType.name%>">
            </div>
          </div>
        </div>
        <div class="card-action">
          <button type="submit" class="btn btn-primary">Update</button>
          <button type="button" id="cancelForm" class="btn btn-danger">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</form>

<% block('scripts').append('<script src="/js/utils.js"></script>')%>
<% block('scripts').append('<script src="/js/warehouse/paid-type/edit.js"></script>')%>