<% layout('./shared/__template')%>
<div class='gutters'>
  <div class="col-xl-12 col-lg-6 col-md-12 col-sm-12">
    <div class="card">
      <div class="card-header d-flex align-items-left align-items-md-center flex-column flex-md-row">
        <div class="card-title"><%=title%></div>
        <a href='create' class='btn btn-primary btn-round float-right ml-md-auto'>Add New Carrier</a>
      </div>
      <div id="myLoader"><img src="../../../img/preloader.gif"></div>
      <div class="card-body daterangepickerbody-1">
        <div class="table-responsive">
            <input type="hidden" name="daterange" id="daterange" value="<%=daterange%>">
            <input type="hidden" name="clear" id="clear" value="<%=clear%>">
          <table id="carrierTable" class="display table table-striped  table-hover">
            <thead>
              <tr>
                <!-- <th>ID</th> -->
                <th>Name</th>
                <th>Date Created</th>
                <th>Contact Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <!-- <th>Fax</th> -->
                <th>Address</th>
                <!-- <th>State</th> -->
                <!-- <th>Country</th> -->
                <!-- <th>ZipCode</th> -->
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
          
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<% block('scripts').append('<script src="/js/utils.js"></script>')%>
<% block('scripts').append('<script src="/js/warehouse/carrier/list.js"></script>')%>