<% layout('./shared/__template')%>
<div class='gutters'>
  <div class="col-xl-12 col-lg-6 col-md-12 col-sm-12">
    <div class="card">
      <div class="card-header d-flex align-items-left align-items-md-center flex-column flex-md-row">
        <div class="card-title"><%= title %></div>
        <a href='create' class='btn btn-primary btn-round ml-md-auto float-right'>Add Location</a>
      </div>
      <div class="card-body daterangepickerbody">
        <div class="table-responsive">
          <input type="hidden" name="daterange" id="daterange" value="<%=daterange%>">
          <input type="hidden" name="clear" id="clear" value="<%=clear%>">
        <table class="display table table-striped table-hover dataTable location-table ">
          <thead>
            <tr>
              <th>Company</th>
              <th>Date Created</th>
              <th>Location Name</th>
              <th>Address</th>
              <th>Phone</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            
          </tbody>
        </table>
        </div>
      </div>
    </div>
  </div>
</div>

<% block('scripts').append('<script src="/js/admin/location/list.js"></script>')%>