<% layout('./shared/__template')%>
<div class='gutters'>
    <div class='col-xl-12 col-lg-6 col-md-12 col-sm-12'>


        <div class='card'>
            <div class="card-header col-md-12">
                <div class='row'>
                    <div class='col-md-4'>
                        <h4>Add Package</h4>
                        <form>
                            <div class='form-group'>
                                <label>Tracking #</label>
                                <input type='text' class='form-control' />
                            </div>
                            <div class='form-group'>
                            <label>Description</label>
                            <input type='text' class='form-control' />
                        </div>
                            <div class='form-group'>
                            <label>Shipper</label>
                            <input type='text' class='form-control' />
                        </div>
                            <div class='form-group'>
                            <label>Value</label>
                            <input type='text' class='form-control' />
                        </div>
                            <div class='form-group'>
                            <label>Pieces</label>
                            <input type='text' class='form-control' />
                        </div>
                        
                            <div class='form-group'>
                            <label>Weight</label>
                            <input type='text' class='form-control' />
                        </div>
                        <div class='form-group'>
                            <button class='btn btn-primary'><i class='fa fa-plus'></i> Save</button>
                        </div>
                        </form>
                    </div>
                    <div class='col-md-6'>
                        <h4>Warehouse Package List</h4>
                    </div>
                </div>
            </div>
            <div class="card-body">

            </div>

        </div>
    </div>
</div>