<% layout('./shared/__template')%>
<div class='gutters'>
    <div class='col-xl-12 col-lg-6 col-md-12 col-sm-12'>


        <div class='card'>
            <div class="card-header col-md-12">
                <div class='row'>
                    <div class='col-md-4'>
                        <h4>Add Package</h4>
                        <form method='post'>
                            <div class='form-group'>
                                <label>SkyBox <span id='customerName' class='text-info title'></span></label>
                                <input type='text' class='form-control' name='skybox' id='skybox' required />
                            </div>
                            <div class='form-group'>
                                <label>Tracking #</label>
                                <input type='text' class='form-control' name='trackingNo' id='trackingNo' required />
                            </div>
                            <div class='form-group'>
                                <label>Description</label>
                                <input type='text' class='form-control' name='description' id='description' required />
                            </div>
                            <div class='form-group'>
                                <label>Shipper</label>
                                <input type='text' class='form-control' name='shipper' id='shipper' />
                            </div>
                            <div class='form-group'>
                                <label>Value</label>
                                <input type='text' class='form-control' name='value' id='value' required />
                            </div>
                            <div class='form-group'>
                                <label>Pieces</label>
                                <input type='text' class='form-control' name='pieces' id='pieces' required />
                            </div>

                            <div class='form-group'>
                                <label>Weight</label>
                                <input type='text' class='form-control' name='weight' id='weight' />
                            </div>
                            <div class='form-group'>
                                <button class='btn btn-primary'><i class='fa fa-plus'></i> Save</button>
                            </div>
                        </form>
                    </div>
                    <div class='col-md-6'>
                        <h4>Warehouse Package List</h4>
                    </div>
                </div>
            </div>
            <div class="card-body">

            </div>

        </div>
    </div>
</div>

<% block('scripts').append('<script src="/js/packages/save-package.js"></script>')%>