<% layout('./shared/__template')%>
<div class='gutters'>
        <div class='col-xl-12 col-lg-6 col-md-12 col-sm-12'>
      
    <input type='hidden' id="mid" value="0" />
    <input type='hidden' id="mtype" value="default" />
            <div class='card'>
                <div class="card-header col-md-12">
                    <h3><%=title%></h3>
                </div>
                <div class="card-body">
                    <ul class="nav nav-pills nav-primary" id="myTab" role="tablist">
                      
                        <li class="nav-item">
                            <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#delivered" role="tab"
                                aria-controls="profile" aria-selected="false" aria-expanded="false">Delivered Packages</a>
                        </li>
                        <li class="nav-item" style='margin-left:10px;'>
                            <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#notdelivered" role="tab"
                                aria-controls="profile" aria-selected="false" aria-expanded="false">Un-delivered Packages</a>
                        </li>
    
    
                    </ul>
                    <div class='row'>
                        <div class='col-md-12'><a href='/warehouse/deliveries' class='btn btn-info pull-right' >Go Back </a></div>
                            
                    </div>
                    
                    <div class="tab-content" id="myTabContent">
                       
                        <div class="tab-pane active fade show" id="delivered" role="tabpanel" aria-labelledby="profile-tab"
                            aria-expanded="false">
                            <div class='row'>
                             
                                <div class='col-md-12'>
                                        <h2>Delivered Packages</h2>     
                                    <table id='deliveredTable'
                                        class='display table table-bordered table-head-bg-info table-hover'
                                        style='width:100%;'>
                                    </table>
                                   
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade show" id="notdelivered" role="tabpanel" aria-labelledby="profile-tab"
                    aria-expanded="false">
                    <div class='row'>
                      
                        
                        
                            <div class='col-md-12'>
                                    <h2>Un-delivered Packages</h2>
                                <table id='undeliveredTable'
                                    class='display table table-bordered table-head-bg-info table-hover'
                                    style='width:100%;'>
                                </table>
                       
                    </div>
                </div>
            </div>
                </div>
            </div>
        </div>
    </div>
    
   
    
  

    <% block('scripts').append('<script src="/vendor/datatables/dataTables.min.js"></script>')%>
    <% block('scripts').append('<script src="/vendor/datatables/dataTables.bootstrap.min.js"></script>')%>
    <% block('scripts').append('<script src="/vendor/datatables/custom/fixedHeader.js"></script>')%>
    <% block('scripts').append('<script src="/js/packages/delivery-detail.js"></script>')%>