<% layout('./shared/__template')%>
<div class='gutters'>
    <div class='col-xl-12 col-lg-6 col-md-12 col-sm-12'>
  
  
        <div class='card'>
              <div class="card-header col-md-12">
                 <h3> Manifrest M-000 Data Entry</h3>
              </div>
              <div class="card-body">
           
              </div>
  
        </div>
    </div>
  </div>