<% layout('./shared/__template')%>
<div class="card">
	<div class="card-header">
		<div class="card-title">Add Driver</div>
		
	</div>
	<form id="exampleValidation">
		<div class="card-body">
			<div class="form-group form-show-validation row">
				<label for="vehicle_make" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">First Name <span
						class="required-label">*</span></label>
				<div class="col-lg-4 col-md-9 col-sm-8">
					<input type="text" class="form-control" id="first_name" name="name" placeholder="Enter First Name"
						required>
				</div>
			</div>
			<div class="form-group form-show-validation row">
				<label for="vehicle_make" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Last Name <span
						class="required-label">*</span></label>
				<div class="col-lg-4 col-md-9 col-sm-8">
					<input type="text" class="form-control" id="first_name" name="name" placeholder="Enter First Name"
						required>
				</div>
			</div>
			<div class="form-group form-show-validation row">
				<label for="vehicle_make" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Drivers License <span
						class="required-label">*</span></label>
				<div class="col-lg-4 col-md-9 col-sm-8">
					<input type="text" class="form-control" id="lisc" name="lisc" placeholder="Drivers Lisc"
						required>
				</div>
			</div>
		
			<div class="form-group form-show-validation row">
				<label for="email" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Email Address <span
						class="required-label">*</span></label>
				<div class="col-lg-4 col-md-9 col-sm-8">
					<input type="email" class="form-control" id="email" placeholder="Enter Email" required>
					<small id="emailHelp" class="form-text text-muted"></small>
				</div>
			</div>
			<div class="form-group form-show-validation row">
				<label for="mobile" class="col-lg-3 col-md-3 col-sm-4 mt-sm-2 text-right">Mobile <span
						class="required-label">*</span></label>
				<div class="col-lg-4 col-md-9 col-sm-8">
					<input type="text" class="form-control" id="mobile" name="mobile"
						placeholder="Enter Mobile Phone" required>
				</div>
			</div>
		
		
		</div>
		<div class="card-action">
			<div class="row">
				<div class="col-md-12">
					<input class="btn btn-success" type="submit" value="Validate">
					<button class="btn btn-danger" id="cancel">Cancel</button>
				</div>
			</div>
		</div>
	</form>
</div>

<% block('scripts').append('<script src="/js/fleet/adddriver.js"></script>')%>