<% layout('./shared/__template')%>

<div class='gutters'>
	<div class="col-xl-12 col-lg-6 col-md-12 col-sm-12">
		<div class="card">
			<div class="card-header d-flex align-items-left align-items-md-center flex-column flex-md-row">
				<div class="card-title">Flights</div>
				<a href='/fleet/addflight' class='btn btn-primary btn-round ml-md-auto float-right'>Add Flight</a>
			</div>
			<div class="card-body">
				<table class="table m-0">
					<thead>
						<tr>
							<th>Flight Number</th>
							<th>Air Craft Type</th>
							<th>Total Capacity</th>
							<th>No of. Comp</th>
							
							<th></th>
						</tr>
					</thead>
					<tbody>

					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>