<% layout('./shared/__template')%>
<div class='gutters'>
	<div class="col-xl-12 col-lg-6 col-md-12 col-sm-12">
		<div class="card">
			<div class="card-header d-flex align-items-left align-items-md-center flex-column flex-md-row">
				<div class="card-title">Routes</div>
				<a href='/fleet/addroute' class='btn btn-primary btn-round ml-md-auto float-right'>Add Routes</a>
			</div>
			<div class="card-body">
				<table class="table m-0">
					<thead>
						<tr>
							<th>Route Name</th>
							<th>Description</th>
							<th></th>
						</tr>
					</thead>
					<tbody>

					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
<% block('scripts').append('<script src="/js/fleet/routes.js"></script>')%>