<% layout('./shared/__template')%>

<div class="row gutters">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="card-header">Overview<a class="link" href="widgets.html">June 2018</a></div>
            <div class="card-body">
                <!-- Row start -->
                <div class="row gutters">
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                        <h6 class="card-title mt-0">Visitors</h6>
                        <div class="chartist custom-one">
                            <div class="line-chart"><div class="chartist-tooltip" style="left: 112px; top: -45.42px;"></div><svg xmlns="http://www.w3.org/2000/svg" class="ct-chart-line" style="width: 100%; height: 190px;" width="100%" height="190px" xmlns:ct="http://gionkunz.github.com/chartist-js/ct"><g class="ct-grids"><line class="ct-grid ct-vertical" x1="10" y1="190" x2="729.71" y2="190" /><line class="ct-grid ct-vertical" x1="10" y1="164.286" x2="729.71" y2="164.286" /><line class="ct-grid ct-vertical" x1="10" y1="138.571" x2="729.71" y2="138.571" /><line class="ct-grid ct-vertical" x1="10" y1="112.857" x2="729.71" y2="112.857" /><line class="ct-grid ct-vertical" x1="10" y1="87.1429" x2="729.71" y2="87.1429" /><line class="ct-grid ct-vertical" x1="10" y1="61.4286" x2="729.71" y2="61.4286" /><line class="ct-grid ct-vertical" x1="10" y1="35.7143" x2="729.71" y2="35.7143" /><line class="ct-grid ct-vertical" x1="10" y1="10" x2="729.71" y2="10" /></g><g><g class="ct-series ct-series-a"><path class="ct-line" d="M 10 164.286 C 99.964 164.286 99.964 87.143 189.927 87.143 C 279.891 87.143 279.891 92.286 369.855 92.286 C 459.819 92.286 459.819 35.714 549.782 35.714 C 639.746 35.714 639.746 10 729.71 10" /><line class="ct-point" x1="10" y1="164.286" x2="10.01" y2="164.286" ct:value="500" ct:meta="Visitors" /><line class="ct-point" x1="189.927" y1="87.1429" x2="189.937" y2="87.1429" ct:value="2000" ct:meta="Visitors" /><line class="ct-point" x1="369.855" y1="92.2857" x2="369.865" y2="92.2857" ct:value="1900" ct:meta="Visitors" /><line class="ct-point" x1="549.782" y1="35.7143" x2="549.792" y2="35.7143" ct:value="3000" ct:meta="Visitors" /><line class="ct-point" x1="729.71" y1="10" x2="729.72" y2="10" ct:value="3500" ct:meta="Visitors" /></g></g><g class="ct-labels" /></svg></div>
                        </div>
                        <div class="download-details">
                            <p>21<sup>%</sup> more packages than last month</p>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-12">
                        <div class="monthly-avg">
                            <h6>Monthly Average</h6>
                            <div class="avg-block">
                                <h4 class="avg-total text-secondary">9500</h4>
                                <h6 class="avg-label">
                                    Packages
                                </h6>
                            </div>
                            <div class="avg-block">
                                <h4 class="avg-total text-primary">$510<sup>k</sup></h4>
                                <h6 class="avg-label">
                                    Sales
                                </h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                        <h6 class="card-title mt-0">Sales</h6>
                        <div class="chartist custom-two">
                            <div class="line-chart2"><div class="chartist-tooltip" style="left: 261.22px; top: -50.42px;"></div><svg xmlns="http://www.w3.org/2000/svg" class="ct-chart-line" style="width: 100%; height: 190px;" width="100%" height="190px" xmlns:ct="http://gionkunz.github.com/chartist-js/ct"><g class="ct-grids"><line class="ct-grid ct-vertical" x1="10" y1="190" x2="729.71" y2="190" /><line class="ct-grid ct-vertical" x1="10" y1="167.5" x2="729.71" y2="167.5" /><line class="ct-grid ct-vertical" x1="10" y1="145" x2="729.71" y2="145" /><line class="ct-grid ct-vertical" x1="10" y1="122.5" x2="729.71" y2="122.5" /><line class="ct-grid ct-vertical" x1="10" y1="100" x2="729.71" y2="100" /><line class="ct-grid ct-vertical" x1="10" y1="77.5" x2="729.71" y2="77.5" /><line class="ct-grid ct-vertical" x1="10" y1="55" x2="729.71" y2="55" /><line class="ct-grid ct-vertical" x1="10" y1="32.5" x2="729.71" y2="32.5" /><line class="ct-grid ct-vertical" x1="10" y1="10" x2="729.71" y2="10" /></g><g><g class="ct-series ct-series-a"><path class="ct-line" d="M 10 154 C 99.964 154 99.964 133.75 189.928 133.75 C 279.891 133.75 279.891 95.5 369.855 95.5 C 459.819 95.5 459.819 154 549.783 154 C 639.746 154 639.746 23.5 729.71 23.5" /><line class="ct-point" x1="10" y1="154" x2="10.01" y2="154" ct:value="800" ct:meta="Sales" /><line class="ct-point" x1="189.928" y1="133.75" x2="189.938" y2="133.75" ct:value="1250" ct:meta="Sales" /><line class="ct-point" x1="369.855" y1="95.5" x2="369.865" y2="95.5" ct:value="2100" ct:meta="Sales" /><line class="ct-point" x1="549.783" y1="154" x2="549.793" y2="154" ct:value="800" ct:meta="Sales" /><line class="ct-point" x1="729.71" y1="23.5" x2="729.72" y2="23.5" ct:value="3700" ct:meta="Sales" /></g></g><g class="ct-labels" /></svg></div>
                        </div>
                        <div class="download-details">
                            <p>15<sup>%</sup> more revenue than last month</p>
                        </div>
                    </div>
                </div>
                <!-- Row end -->
            </div>
        </div>
    </div>
</div>

<div class="row gutters">
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
        <div class="card">
            <div class="card-header">Mail</div>
            <div class="slimScrollDiv" style="width: auto; height: 300px; overflow: hidden; position: relative;"><div class="customScroll" style="width: auto; height: 300px; overflow: hidden;">
                <div class="card-body">
                    <ul class="order-list">
                        <li>
                            <p class="order-num placed">#45763 <span class="order-date">45 mins</span></p>
                            <p class="order-desc">Jessse <span>placed</span> new order</p>
                        </li>
                        <li>
                            <p class="order-num cancelled">#48239 <span class="order-date">38 mins</span></p>
                            <p class="order-desc">Alex <span>cancelled</span> an order</p>
                        </li>
                        <li>
                            <p class="order-num">#41470 <span class="order-date">24 mins</span></p>
                            <p class="order-desc">Sunny <span>processed</span> an order</p>
                        </li>
                        <li>
                            <p class="order-num placed">#46360 <span class="order-date">10 mins</span></p>
                            <p class="order-desc">Thompson <span>placed</span> an order</p>
                        </li>
                        <li>
                            <p class="order-num placed">#55242 <span class="order-date">45 mins</span></p>
                            <p class="order-desc">Jessse <span>placed</span> new order</p>
                        </li>
                        <li>
                            <p class="order-num cancelled">#33561 <span class="order-date">38 mins</span></p>
                            <p class="order-desc">Alex <span>cancelled</span> an order</p>
                        </li>
                        <li>
                            <p class="order-num">#12876 <span class="order-date">24 mins</span></p>
                            <p class="order-desc">Sunny <span>processed</span> an order</p>
                        </li>
                        <li>
                            <p class="order-num placed">#22536 <span class="order-date">10 mins</span></p>
                            <p class="order-desc">Thompson <span>placed</span> an order</p>
                        </li>
                    </ul>
                </div>
            </div><div class="slimScrollBar" style="background: rgb(229, 232, 242); border-radius: 0px; top: 0px; width: 7px; height: 108.43px; right: 1px; display: none; position: absolute; z-index: 99; opacity: 0.8;"></div><div class="slimScrollRail" style="background: rgb(0, 122, 225); border-radius: 0px; top: 0px; width: 7px; height: 100%; right: 1px; display: none; position: absolute; z-index: 90; opacity: 0.2;"></div></div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
        <div class="card">
            <div class="card-header">Packages</div>
            <div class="slimScrollDiv" style="width: auto; height: 300px; overflow: hidden; position: relative;"><div class="customScroll" style="width: auto; height: 300px; overflow: hidden;">
                <div class="card-body pt-0 pb-0">
                    <ul class="order-list">
                        <li>
                            <p class="order-num placed">#45763 <span class="order-date">45 mins</span></p>
                            <p class="order-desc">Jessse <span>placed</span> new order</p>
                        </li>
                        <li>
                            <p class="order-num cancelled">#48239 <span class="order-date">38 mins</span></p>
                            <p class="order-desc">Alex <span>cancelled</span> an order</p>
                        </li>
                        <li>
                            <p class="order-num">#41470 <span class="order-date">24 mins</span></p>
                            <p class="order-desc">Sunny <span>processed</span> an order</p>
                        </li>
                        <li>
                            <p class="order-num placed">#46360 <span class="order-date">10 mins</span></p>
                            <p class="order-desc">Thompson <span>placed</span> an order</p>
                        </li>
                        <li>
                            <p class="order-num placed">#55242 <span class="order-date">45 mins</span></p>
                            <p class="order-desc">Jessse <span>placed</span> new order</p>
                        </li>
                        <li>
                            <p class="order-num cancelled">#33561 <span class="order-date">38 mins</span></p>
                            <p class="order-desc">Alex <span>cancelled</span> an order</p>
                        </li>
                        <li>
                            <p class="order-num">#12876 <span class="order-date">24 mins</span></p>
                            <p class="order-desc">Sunny <span>processed</span> an order</p>
                        </li>
                        <li>
                            <p class="order-num placed">#22536 <span class="order-date">10 mins</span></p>
                            <p class="order-desc">Thompson <span>placed</span> an order</p>
                        </li>
                    </ul>
                </div>
            </div><div class="slimScrollBar" style="background: rgb(229, 232, 242); border-radius: 0px; top: 0px; width: 7px; height: 160.42px; right: 1px; display: none; position: absolute; z-index: 99; opacity: 0.8;"></div><div class="slimScrollRail" style="background: rgb(0, 122, 225); border-radius: 0px; top: 0px; width: 7px; height: 100%; right: 1px; display: none; position: absolute; z-index: 90; opacity: 0.2;"></div></div>
        </div>
    </div>
    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <div class="card">
            <div class="card-header">Hazmat</div>
            <div class="slimScrollDiv" style="width: auto; height: 300px; overflow: hidden; position: relative;"><div class="customScroll" style="width: auto; height: 300px; overflow: hidden;">
                <div class="card-body">
                    <ul class="order-list">
                        <li>
                            <p class="order-num placed">#45763 <span class="order-date">45 mins</span></p>
                            <p class="order-desc">Jessse <span>placed</span> new order</p>
                        </li>
                        <li>
                            <p class="order-num cancelled">#48239 <span class="order-date">38 mins</span></p>
                            <p class="order-desc">Alex <span>cancelled</span> an order</p>
                        </li>
                        <li>
                            <p class="order-num">#41470 <span class="order-date">24 mins</span></p>
                            <p class="order-desc">Sunny <span>processed</span> an order</p>
                        </li>
                        <li>
                            <p class="order-num placed">#46360 <span class="order-date">10 mins</span></p>
                            <p class="order-desc">Thompson <span>placed</span> an order</p>
                        </li>
                        <li>
                            <p class="order-num placed">#55242 <span class="order-date">45 mins</span></p>
                            <p class="order-desc">Jessse <span>placed</span> new order</p>
                        </li>
                        <li>
                            <p class="order-num cancelled">#33561 <span class="order-date">38 mins</span></p>
                            <p class="order-desc">Alex <span>cancelled</span> an order</p>
                        </li>
                        <li>
                            <p class="order-num">#12876 <span class="order-date">24 mins</span></p>
                            <p class="order-desc">Sunny <span>processed</span> an order</p>
                        </li>
                        <li>
                            <p class="order-num placed">#22536 <span class="order-date">10 mins</span></p>
                            <p class="order-desc">Thompson <span>placed</span> an order</p>
                        </li>
                    </ul>
                </div>
            </div><div class="slimScrollBar" style="background: rgb(229, 232, 242); border-radius: 0px; top: 0px; width: 7px; height: 152.02px; right: 1px; display: block; position: absolute; z-index: 99; opacity: 0.8;"></div><div class="slimScrollRail" style="background: rgb(0, 122, 225); border-radius: 0px; top: 0px; width: 7px; height: 100%; right: 1px; display: none; position: absolute; z-index: 90; opacity: 0.2;"></div></div>
        </div>
    </div>
</div>