<% layout('./shared/__template')%>
<script src="/js/jquery.js"></script>
<script src="/assets/js/plugin/datatables/datatables.min.js"></script>

<div class="row">
  <div class="col-md-12">
    <div class="card full-height">
      <div class="card-header">
        <div class="row">
          <div class="card-title pd-18 col-md-2">All Awb Status</div>
        </div>
      </div>
      <div class="card-body">
        <table id="awbStatus" class=" display table table-striped table-hover dataTable ">
          <thead>
            <tr>
              <th>AWB ID</th>
              <th>Employee Name</th>
              <th>Action</th>
              <th>Date</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card full-height">
      <div class="card-header">
        <div class="row">
          <div class="card-title pd-18 col-md-2">Package Status</div>
        </div>
      </div>
      <div class="card-body">
        <table id="package_status" class=" display table table-striped table-hover dataTable ">
          <thead>
            <tr>
              <th>Status </th>
              <th>Number of Packages </th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card full-height">
      <div class="card-header">
        <div class="row">
          <div class="card-title pd-18 col-md-2">Package Detail</div>
          <div class="card-tools  pd-18 col-md-10">
            <form method="post" onsubmit="filterData(event)">
              <div class="row">
                <div class="col-md-3">
                  <div class="row">
                    <span class="col-md-5 pt-10" style="margin-top: 8px;">By User</span>
                    <div class="col-md-7">
                      <select class="form-control" name="users">
                        <option value='all'>All</option>
                        <%users.forEach(function(user){ %>
                        <option value="<%=user._id%>"><%=user.username%></option>
                        <%})%>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="row">
                    <span class="col-md-5 pt-10" style="margin-top: 8px;">Package Status</span>
                    <div class="col-md-7">
                      <select class="form-control" name="package_status">
                        <option value='all'>All</option>
                        <%Object.keys(package_status).map(function(st){ %>
                        <option value="<%=package_status[st]%>"><%=package_status[st]%></option>
                        <%})%>
                      </select>
                    </div>
                  </div>
                </div>
                <input type="hidden" name="filter_for" value="all_package_table" />
                <div class="col-md-3""> 
                <div class=" row">
                  <label class="col-md-5 pt-10" style="margin-top: 8px;">Created At</label>
                  <input type="text" class="filter-date form-control col-md-7" name="filter_date" />
                </div>
              </div>
              <div class="col-md-2 pl-10">
                <input type="submit" value="Filter" class="btn btn-primary" />
              </div>
          </div>
          </form>
        </div>
      </div>
    </div>
    <div class="card-body">
      <table id="all_package_table" class=" display table table-striped table-hover dataTable ">
        <thead>
          <tr>
            <th>PackageId</th>
            <th>Status</th>
            <th>User</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card full-height">
      <div class="card-header">
        <div class="row">
          <div class="card-title pd-18 col-md-2">Delivery Detail</div>
        </div>
      </div>
      <div class="card-body">
        <table id="delivery_table" class=" display table table-striped table-hover dataTable ">
          <thead>
            <tr>
              <th>PackageId</th>
              <th>Driver Name</th>
              <th>Date</th>
              <th>Status</th>
              <th>Location</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">


  function filterData(event) {
    event.preventDefault()
    const data = $(event.currentTarget).serializeArray();
    const obj = {}
    data.map((i) => { obj[i.name] = i.value })
    $.ajax({
      url: "/api/warehouse/get_packages_data/" + obj.filter_for,
      dataType: "json",
      data: obj,
      type: "GET",
      success: function (data) {
        if(obj.filter_for === "all_package_table")  allPackages(data[2]);
      }
    })
  }
  $.ajax({
    url: '/api/warehouse/get_packages_data/all',
    dataType: "json",
    type: "GET",
    success: function (data) {
      awbsStatus(data[0]);
      packageStatus(data[1]);
      allPackages(data[2])
      deliveryData(data[3])
    }
  })

  function awbsStatus(data) {
    let result = data.map((row) => {
      if (row !== null) {
        return `<tr><td>` + row.awbGeneratedId + `</td>
          <td>` + row.User['firstName'] + " " + row.User['lastName'] + `</td>
          <td>` + row.action + `</td>
          <td>` + moment(row.createdAt).format("hh:mm - MMM DD, YYYY") +
          `</td></tr>`;
      }
    })

    if ($("#awbStatus > tbody > tr").length) {
      $("#awbStatus > tbody > tr").empty();
    }

    $("#awbStatus tbody").html("")
    $("#awbStatus tbody").append(result)
    if (!($.fn.dataTable.isDataTable('#awbStatus'))) {
      $("#awbStatus").DataTable({ searching: true, "bLengthChange": true });
    }
  }

  function packageStatus(data) {
    const PKG_STATUS = {
      0: 'Package Created',
      1: 'Received in FLL',
      2: 'Loaded on AirCraft',
      3: 'In Transit',
      4: 'In Warehouse Nassuau',
      5: 'Ready for Pickup / Delivery',
      6: 'Delivered',
      7: 'No Invoice Present',
      8: 'Assigned to cube',
      9: 'Delivered to Store'
    };
    let obj = ['created', 'received_fill', 'loaded_craft', 'in_transit', 'received_nas',
      'ready_pd', 'delivered', 'no_invoice', 'assigned_to_cube', 'delivered_to_store'];
    let newObj = [];
    for (let i = 0; i < 10; i++) {
      newObj.push({ status: PKG_STATUS[i], count: data[obj[i]] })
    }
    let result = newObj.map((row) => {
      if (row !== null) {
        return `<tr><td>` + row.status + `</td>
          <td>` + row.count + `</td></tr>`;
      }
    })

    if ($("#package_status > tbody > tr").length) {
      $("#package_status > tbody > tr").empty();
    }

    $("#package_status tbody").append(result)
    if (!($.fn.dataTable.isDataTable('#package_status'))) {
      $("#package_status").DataTable({ searching: true, "bLengthChange": true });
    }
  }

  function allPackages(data) {
    let result = data.map((row) => {
      if (row !== null) {
        return `<tr><td>` + row.packageId + `</td>
          <td>` + row.status + `</td>
          <td>` + row.user.firstName + " " + row.user.lastName + `</td>
          <td>` + moment(row.updatedAt).format('MMM DD, YYYY') +
          `</td></tr>`;
      }
    })

    if ($("#all_package_table > tbody > tr").length) {
      $("#all_package_table > tbody > tr").empty();
    }

    $("#all_package_table tbody").append(result)
    if (!($.fn.dataTable.isDataTable('#all_package_table'))) {
      $("#all_package_table").DataTable({ searching: false, "bLengthChange": false });
    }
  }

  function deliveryData(data) {
    let result = data.map((row) => {
      if (row !== null) {
        return `<tr><td>` + row.packageId + `</td>
          <td>` + row.driverName + `</td>
          <td>` + row.date + `</td>
          <td>` + row.status + `</td>
          <td>` + row.location +
          `</td></tr>`;
      }
    })

    if ($("#delivery_table > tbody > tr").length) {
      $("#delivery_table > tbody > tr").empty();
    }

    $("#delivery_table tbody").append(result)
    if (!($.fn.dataTable.isDataTable('#delivery_table'))) {
      $("#delivery_table").DataTable({ searching: true, "bLengthChange": true });
    }
  }

</script>