<% layout('./shared/__template')%>
    <div class='gutters'>
        <div class="col-xl-12 col-lg-6 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header">Customers </div>
                <div class="card-body">
                   
                </div>
            </div>
        </div>
    </div>
    

    <script>
    var rpackages = <%-JSON.stringify(owners)%> ;
    </script>