<% layout('./shared/__template')%>
    <div class='gutters'>
        <div class="col-xl-12 col-lg-6 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header">Customers </div>
                <div class="card-body">
                <table id='customerTable' class='table table-bordered table-inverse ' style='width:100%'>

                </table>
                </div>
            </div>
        </div>
    </div>
    

    <script>
    var rpackages = <%-JSON.stringify(owners)%> ;
    </script>
    <% block('scripts').append('<script src="/vendor/datatables/dataTables.min.js"></script>')%>
    <% block('scripts').append('<script src="/vendor/datatables/dataTables.bootstrap.min.js"></script>')%>
    
    <% block('scripts').append('<script src="/vendor/datatables/custom/fixedHeader.js"></script>')%>
    <% block('scripts').append('<script src="/js/customers.js"></script>')%>