<% layout('./shared/__template')%>


<div class="row gutters">
    <div class="col-xl-6 col-lg-3 col-md-6 col-sm-6">
        <div class="card">
            <div class="card-header">Membership</div>
            <div class="card-body">
                <div class='row'>
                    <div class='col-md-6'>
                        <div class="chartist custom-one">
                            <div class="donut-chart-1">
                                <div class="chartist-tooltip"></div>
                            </div>
                        </div>
                    </div>

                   
                    <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6">
                    <div class="info-stats4">
                        <div class="icon-type pull-left">
                            <i class="icon-location"></i>
                        </div>
                        <div class="sale-num">
                            <h4>12,239</h4>
                            <p>Arouca</p>
                        </div>
                    </div>
                </div>

                </div>
                <div class="row gutters">
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col">
                        <div class="info-stats">
                            <span class="info-label"></span>
                            <h6 class="info-title">San Fernando</h6>
                            <h4 class="info-total">7,400</h4>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col">
                        <div class="info-stats">
                            <span class="info-label red"></span>
                            <h6 class="info-title">Port of Span</h6>
                            <h4 class="info-total">5,498</h4>
                        </div>
                    </div>
                    
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col">
                        <div class="info-stats">
                            <span class="info-label green"></span>
                            <h6 class="info-title">Curepe</h6>
                            <h4 class="info-total">3,234</h4>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col">
                        <div class="info-stats">
                            <span class="info-label green"></span>
                            <h6 class="info-title">Chaguanas</h6>
                            <h4 class="info-total">4,847</h4>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col">
                        <div class="info-stats">
                            <span class="info-label green"></span>
                            <h6 class="info-title">Sangre Grande</h6>
                            <h4 class="info-total">2,397</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col">
        <a href="#" class="block-140">
            <div class="icon violet">
                <i class="icon-v-card"></i>
            </div>
            <h5>2540</h5>
            <p>New Memebers</p>
        </a>
        <a href="#" class="block-140">
            <div class="icon pink">
                <i class="icon-users"></i>
            </div>
            <h5>763</h5>
            <p>Referals</p>
        </a>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-3 col-sm-3 col">
        <a href="#" class="block-140">
            <div class="icon success">
                <i class="icon-user-check"></i>
            </div>
            <h5>218</h5>
            <p>Paid Membership</p>
        </a>
        <a href="#" class="block-140">
            <div class="icon warning">
                <i class="icon-hourglass_full"></i>
            </div>
            <h5>549</h5>
            <p>Old Packages ( > 3 Months)</p>
        </a>
    </div>
    <div class="col-xl-2 col-lg-2 col-md-6 col-sm-6">
        <a href="#" class="block-140">
            <div class="icon danger">
                <i class="icon-archive3"></i>
            </div>
            <h5>367</h5>
            <p>Membership Due</p>
        </a>
        <a href="#" class="block-140">
            <div class="icon info">
                <i class="icon-download5"></i>
            </div>
            <h5>12,957 / <span class='text-info'>33,185</span></h5>
            <p>Active Members</p>
        </a>
    </div>

</div>


<div class="row gutters">
<div class="col-xl-4 col-lg-4 col-md-6 col-sm-6">
<div class="card">
    <div class="card-header">Location Packages</div>
    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 300px;"><div class="customScroll" style="overflow: hidden; width: auto; height: 300px;">
        <div class="card-body pt-0 pb-0">
            <ul class="project-activity">
                <li class="activity-list">
                    <div class="detail-info">
                        <span class="lbl">A</span>
                        <p class="desc-info"><span class="text-primary">Arouca</span> 3000</p>
                        <a href="#" class="activity-status"><i class="icon-done_all"></i></a>
                    </div>
                </li>
                <li class="activity-list">
                    <div class="detail-info">
                        <span class="lbl success">POS</span>
                        <p class="desc-info"><span class="text-success">Port of Span</span> 530943</p>
                        <a href="#" class="activity-status"><i class="icon-done_all"></i></a>
                    </div>
                </li>
                <li class="activity-list">
                    <div class="detail-info">
                        <span class="lbl danger">SDO</span>
                        <p class="desc-info"><span class="text-secondary">San Fernando</span> 659034</p>
                        <a href="#" class="activity-status"><i class="icon-done_all"></i></a>
                    </div>
                </li>
                <li class="activity-list">
                    <div class="detail-info">
                        <span class="lbl warning">C</span>
                        <p class="desc-info"><span class="text-warning">Curepe</span> 834090</p>
                        <a href="#" class="activity-status"><i class="icon-done_all"></i></a>
                    </div>
                </li>
                <li class="activity-list">
                    <div class="detail-info">
                        <span class="lbl pink">CH</span>
                        <p class="desc-info"><span class="text-pink">Chaguanas</span> 3000</p>
                        <a href="#" class="activity-status"><i class="icon-done_all"></i></a>
                    </div>
                </li>
                <li class="activity-list">
                    <div class="detail-info">
                        <span class="lbl grey">SG</span>
                        <p class="desc-info"><span>Sangre Grande</span> 32455</p>
                        <a href="#" class="activity-status"></a>
                    </div>
                </li>
              
            </ul>
        </div>
    </div><div class="slimScrollBar" style="background: rgb(229, 232, 242); width: 7px; position: absolute; top: 0px; opacity: 0.8; display: none; border-radius: 0px; z-index: 99; right: 1px; height: 162.455px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 0px; background: rgb(0, 122, 225); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
</div>
</div>
<div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
<div class="card">
    <div class="card-header">Sales</div>
    <div class="card-body">
        <ul class="social-stats">
            <li class="clearfix">
                <div class="month-type svg-container" id="likes"><svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 194 186" class="circliful">undefined<circle cx="100" cy="100" r="57" class="border" fill="none" stroke="#f5f6fa" stroke-width="7" stroke-dasharray="360" transform="rotate(-90,100,100)"></circle><circle class="circle" cx="100" cy="100" r="57" fill="none" stroke="#007ae1" stroke-width="15" stroke-dasharray="280.8, 20000" transform="rotate(-90,100,100)"></circle><circle cx="100" cy="100" r="28.5" fill="none"></circle>undefined<text class="timer" text-anchor="middle" x="100" y="110" style="font-size: 22px; undefined;" fill="#000000">78%</text></svg></div>
                <div class="social-info">
                    <h4>18<sup>k</sup><i class="icon-chevron-up text-primary"></i></h4>
                    <p class="text-truncate">Linx</p>
                </div>
            </li>
            <li class="clearfix">
                <div class="month-type svg-container" id="shares"><svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 194 186" class="circliful">undefined<circle cx="100" cy="100" r="57" class="border" fill="none" stroke="#f5f6fa" stroke-width="7" stroke-dasharray="360" transform="rotate(-90,100,100)"></circle><circle class="circle" cx="100" cy="100" r="57" fill="none" stroke="#007ae1" stroke-width="15" stroke-dasharray="234, 20000" transform="rotate(-90,100,100)"></circle><circle cx="100" cy="100" r="28.5" fill="none"></circle>undefined<text class="timer" text-anchor="middle" x="100" y="110" style="font-size: 22px; undefined;" fill="#000000">65%</text></svg></div>
                <div class="social-info">
                    <h4>12<sup>k</sup><i class="icon-chevron-up text-primary"></i></h4>
                    <p class="text-truncate">Cash</p>
                </div>
            </li>
            <li class="clearfix">
                <div class="month-type svg-container" id="comments"><svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 194 186" class="circliful">undefined<circle cx="100" cy="100" r="57" class="border" fill="none" stroke="#f5f6fa" stroke-width="7" stroke-dasharray="360" transform="rotate(-90,100,100)"></circle><circle class="circle" cx="100" cy="100" r="57" fill="none" stroke="#ff3e61" stroke-width="15" stroke-dasharray="306, 20000" transform="rotate(-90,100,100)"></circle><circle cx="100" cy="100" r="28.5" fill="none"></circle>undefined<text class="timer" text-anchor="middle" x="100" y="110" style="font-size: 22px; undefined;" fill="#000000">85%</text></svg></div>
                <div class="social-info">
                    <h4>10<sup>k</sup><i class="icon-chevron-down text-secondary"></i></h4>
                    <p class="text-truncate">Credit Card</p>
                </div>
            </li>
        </ul>
    </div>
</div>
</div>
    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
        <div class="card">
            <div class="card-header">Pre Alert Stream</div>
            <div class="slimScrollDiv" style="width: auto; height: 300px; overflow: hidden; position: relative;">
                <div class="customScroll" style="width: auto; height: 300px; overflow: hidden;">
                    <div class="card-body">
                        <ul class="order-list">
                            <li>
                                <p class="order-num placed">#45763 <span class="order-date">45 mins</span></p>
                                <p class="order-desc">Jessse pre-alert 859482</p>
                            </li>
                            <li>
                                <p class="order-num placed">#48239 <span class="order-date">38 mins</span></p>
                                <p class="order-desc">Alex <span> pre-alert</span> an order</p>
                            </li>
                            <li>
                                <p class="order-num">#41470 <span class="order-date">24 mins</span></p>
                                <p class="order-desc">Sunny <span> pre-alert</span> an order</p>
                            </li>
                            <li>
                                <p class="order-num placed">#46360 <span class="order-date">10 mins</span></p>
                                <p class="order-desc">Thompson <span> pre-alert</span> an order</p>
                            </li>
                            <li>
                                <p class="order-num placed">#55242 <span class="order-date">45 mins</span></p>
                                <p class="order-desc">Jessse <span> pre-alert</span> new order</p>
                            </li>
                            <li>
                                <p class="order-num cancelled">#33561 <span class="order-date">38 mins</span></p>
                                <p class="order-desc">Alex <span> pre-alert</span> an order</p>
                            </li>
                            <li>
                                <p class="order-num">#12876 <span class="order-date">24 mins</span></p>
                                <p class="order-desc">Sunny <span> pre-alert</span> an order</p>
                            </li>
                            <li>
                                <p class="order-num placed">#22536 <span class="order-date">10 mins</span></p>
                                <p class="order-desc">Thompson <span> pre-alert</span> an order</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="slimScrollBar" style="background: rgb(229, 232, 242); border-radius: 0px; top: 0px; width: 7px; height: 152.02px; right: 1px; display: block; position: absolute; z-index: 99; opacity: 0.8;"></div>
                <div class="slimScrollRail" style="background: rgb(0, 122, 225); border-radius: 0px; top: 0px; width: 7px; height: 100%; right: 1px; display: none; position: absolute; z-index: 90; opacity: 0.2;"></div>
            </div>
        </div>
    </div>
</div>
<!-- Chartist JS -->
<script src="/vendor/chartist/js/chartist.min.js"></script>
<script src="/vendor/chartist/js/chartist-tooltip.js"></script>


<script src="/vendor/chartist/js/custom/donut-chart2.js"></script>