<% layout('./shared/__template')%>
<div class='gutters'>
  <div class="col-xl-12 col-lg-6 col-md-12 col-sm-12">
    <div class="card">
      <div class="card-header d-flex align-items-left align-items-md-center flex-column flex-md-row">
        <div class="card-title"><%=title%></div>
        <a href='create' class='btn btn-primary btn-round float-right ml-md-auto'>Add Consignee</a>
      </div>
      <div class="card-body daterangepickerbody">
        <div class="table-responsive">
            <input type="hidden" name="daterange" id="daterange" value="<%=daterange%>">
            <input type="hidden" name="clear" id="clear" value="<%=clear%>">
          <table id="customerTable" class="display table dataTable table-striped table-hover customer-table">
            <thead>
              <tr>
                <th>Company</th>
                <th>Date Created</th>
                <th>PMB</th>
                <th>Name</th>
                <th>Email</th>
                <th>Telephone</th>
                <th>Location</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<% block('scripts').append('<script src="/js/admin/customer/list.js"></script>')%>